body {
  margin: 0;
  padding: 0;
  font-family : 'Courier New', Courier, monospace;
  background: linear-gradient(to right, rgb(237, 208, 65), rgb(30, 99, 235));
  width: 100%;
  height: 100%;
    
}

button{
  cursor: pointer;
}
