.boxStyle{
    position: absolute;
    box-shadow: 0 0 0 3px #149df2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;

}

.name{
    font-size: medium;
    color: #f00;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    position: absolute;
    top: 0.1em;
    left: 0.3em;
}

.value{
    font-size: x-small;
    color: #7703f3;
    /* padding-top: 0px;
    margin-top: 0px;*/
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .flex{
    display: flex;
  }

  .frcm{
    position: relative;
  }